

body{
    font-family: Roboto;
    background-color: 	#FF4500;
    color:black;
    
}

.text-align-left{
    text-align:left;
}

.button{
    
      color: orangered;
    background-color:black;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align:center;
    font-family:roboto;
    border-radius:75%
}

.a{
text-align:center;
border-width:5px;
border-color:white;
border-style:solid;
font-size:20px;
}

.b{
text-align:left;
font-size:15px;
}

.thin-black-border{

    width: 150px;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;

}

h1{
font-size:30px;
text-align:center;

}

h2{
font-size:20px;
text-align:center;
padding:5px;
}



