
.black-background {
    background-color:black;

}

.profile-picture{
    width:100px;
    border-color:orange;
    border-width

}



h1{
font-size:30px;
text-align:center;
padding:10px;
}

h2{
font-size:20px;
text-align:center;
padding:10px;
}

