
:root{
  --night: #111111ff;
  --mint-cream: #f5fffaff;
  --cherry-blossom-pink: #f7b2bdff;
  --vermilion: #dd3f30ff;
  --butterscotch: #F0A94D;
  --tea-green: #C7EFCF;
  --sky-blue: #aeebff;
  --beige: 	#fff0db;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Source Sans 3', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    scroll-behavior: smooth;
}

svg:hover {
  fill: var(--vermilion);
}